<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServerImage</title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div
      class="pl-64 h-screen w-full flex flex-col items-center justify-center"
    >
      <div
        class="box-border w-4/5 h-auto border-2 border-solid border-slate-500 p-14"
      >
        <form action="/upload" method="post" enctype="multipart/form-data">
          <div class="flex flex-col gap-y-10">
            <div class="">
              <input
                type="text"
                name="title"
                placeholder="Title"
                class="w-full file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-secondaryColor file:text-textColor hover:file:bg-secondaryColor"
              />
            </div>
            <div class="">
              <textarea
                name="description"
                class="resize-y w-full h-10 border border-solid border-primaryColor rounded-xl focus:border-primaryColor focus:bg-detailColor focus:outline-none focus:ring focus:ring-textColor"
                placeholder="Description"
              ></textarea>
            </div>
            <div class="">
              <input
                type="file"
                name="image"
                class="w-full file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-secondaryColor file:text-detailColor hover:file:bg-secondaryColor"
              />
            </div>
            <div class="">
              <button
                type="submit"
                class="w-full h-10 bg-primaryColor rounded-3xl text-detailColor"
              >
                Upload
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include("partials/footerCss.ejs") %>
  </body>
</html>
