<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ServerImage | Upload</title>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
  <%- include("./partials/headScripts.ejs") %>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

    <main class="h-screen w-full grid grid-cols-1 gap-3 md:gap-0 md:grid-cols-6 py-3 px-2">

        <div class="col-span-6 md:col-span-3 order-2 md:order-1 flex justify-center items-center">
          <form id="uploadForm" enctype="multipart/form-data" class="w-4/5 rounded-lg shadow-xl p-5">
            <div class="flex flex-col gap-3 mb-6 md:grid-cols-2">
              <div>
                <input type="text" name="title" placeholder="Title" id="User_name" placeholder="Type here"
                  class="input input-bordered w-full" />
              </div>
              <div>
                <textarea id="description" id="description" name="description" rows="2"
                  class="textarea textarea-bordered w-full" placeholder="Description"></textarea>
              </div>
              <div>
                <input name='tags' id="tags" class='' value=''>
              </div>
              <div>
                <input type="file" name="image" accept="image/*" id="img"
                  class="file-input file-input-bordered w-full" />
              </div>
              <div>
                <button type="submit" id="submitButton" class="btn btn-block">
                  Upload
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-span-6 md:col-span-3 order-1 md:order-2 ">
          <div class="flex justify-center w-[calc(33.33% - 30px)] h-screen p-2">
            <img class="" id="imgPreview" />
          </div>

        </div>
    </main>
    <style>
      .tagify {
        width: 100%;
      }

      .tags-look .tagify__dropdown__item {
        display: inline-block;
        border-radius: 3px;
        padding: .3em .5em;
        border: 1px solid #CCC;
        background: #F3F3F3;
        margin: .2em;
        font-size: .85em;
        color: black;
        transition: 0s;
      }

      .tags-look .tagify__dropdown__item--active {
        color: black;
      }

      .tags-look .tagify__dropdown__item:hover {
        background: lightyellow;
        border-color: gold;
      }
    </style>

    <script src="/js/formUpload.js"></script>
</body>

</html>