<form action="#" method="POST" class="w-1/2  rounded-lg shadow-xl p-5">
  <div class="flex flex-col gap-3 ">
    <div class="flex flex-col gap-1">
      <h2>Dimencions</h2>
      <% if(type==="rezise" ) {%>
        <div class="mt-5 whitespace-nowrap flex justify-around">
          <p>Width: <span>
              <%= image.width %>
            </span> </p>
          <p>Height: <span>
              <%= image.height %>
          </p>
        </div>
        <% } %>
    </div>
    <div class="divider"></div> 
    <div>
      <div class="label">
        <span class="label-text">
          Width </span>
      </div>
      <input id="width" type="text" name="width" placeholder="000" class="input input-bordered w-full" />
    </div>
      <div>
        <div class="label">
          <span class="label-text">
            Height </span>
        </div>
        <input id="height" type="text" name="height" placeholder="000" class="input input-bordered w-full" />
      </div>
      <div>
        <div class="label">
          <span class="label-text">
            Type convert </span>
        </div>
        <select name="selectType" id="selectType" class="select select-bordered w-full">
          <option value="fill" selected>fill</option>
          <option value="cover">cover</option>
          <option value="contain">contain</option>
          <option value="inside">inside</option>
          <option value="outside">outside</option>
        </select>

      </div>
      <input id="imgPhat" name="imgPhat" type="hidden" value="<%= image.path%>" />
      <input id="userId" type="hidden" name="userId" value="<%= image._id%>" />

      <div>
        <button type="submit" class="btn btn-outline btn-block">
          Rezise
        </button>
      </div>
  </div>
</form>