<nav class="fixed h-screen w-16 lg:w-64 p-3 bg-gray-500">
  <div class="h-full flex flex-col items-center justify-center gap-y-14">
    <a class="text-3xl text-left" href="/">Home</a>
    <a class="text-3xl text-left" href="/upload">Upload</a>
    <a class="text-3xl text-left" href="/resizes">Resizes</a>
  </div>
</nav>
