<nav class="fixed h-screen w-16 lg:w-64 p-3 bg-primaryColor">
  <div class="h-full flex flex-col items-center justify-center gap-y-14">
    <a class="text-3xl text-left text-detailColor" href="/home">Home</a>
    <a class="text-3xl text-left text-detailColor" href="/upload">Upload</a>
    <a class="text-3xl text-left text-detailColor" href="/resizes">Resizes</a>
    <a class="text-3xl text-left text-detailColor" href="/logout">Logout<a>
  </div>
</nav>
